{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": ["@typescript-eslint", "import", "filenames", "prettier"],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:@next/next/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    // Plugins
    "prettier/prettier": "error",
    "filenames/match-regex": 0,
    "filenames/match-exported": [2, [null, "kebab", "pascal"]],
    "filenames/no-index": 0,
    // React
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    // Javascript
    "camelcase": "off",
    "import/extensions": "off",
    "import/no-cycle": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ],
    "no-unused-vars": "off", // Disabling to use tslint rule
    "no-use-before-define": "off", // Disabling to use tslint rule
    "no-shadow": "off", // Disabling to use tslint rule
    // Typescript
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/consistent-type-imports": "error"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
